* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
  height: 100%;
}

.button {
  width: 234px;
  height: 49px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.button:hover {
  cursor: url("../img/cursor.svg"), pointer;
  background: #EB443F;
}

.top {
  background-image: url(../img/bg-top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
}
.top__text {
  max-width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 19px;
  padding-bottom: 44px;
}
.top__button {
  margin-bottom: 493px;
}

.content {
  background: #000915;
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 126px 0;
}
.game__link:first-child .game__box {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__link:nth-child(2) .game__box {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 378px;
}
.game__link:nth-child(3) .game__box {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(../img/game-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__link:hover:first-child .game__box {
  background-image: url(../img/game-1.png);
}
.game__link:hover:nth-child(2) .game__box {
  background-image: url(../img/game-2.png);
  width: 378px;
}
.game__link:hover:nth-child(3) .game__box {
  background-image: url(../img/game-3.png);
}
.game__link:hover .game__box {
  cursor: url("../img/cursor.svg"), pointer;
  border: 3px solid #44D2FF;
  box-sizing: border-box;
}
.game__box {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
}
.game__name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 0 0 32px 32px;
}

.seasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px;
  padding: 233px 0;
}
.seasons__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 52px;
}
.seasons__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.seasons__text {
  width: 584px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding: 0 16px;
  }
  .top {
    height: 735px;
  }
  .top__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 238px;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 30px;
  }
  .game {
    padding: 130px 0;
    justify-content: center;
  }
  .game__box {
    width: 343px;
  }
  .game__link:nth-child(2) .game__box {
    width: 343px;
  }
  .game__name {
    padding: 0 0 32px 16px;
  }
}/*# sourceMappingURL=style.css.map */